*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    --color-bg: #ddd;
    --color-texto: #EE6352;

}

body{

    background-color: var(--color-bg);
    transition: background-color 1s, color 1s;
}

section{
    height: 100vh;
    width: 100%;
}

.modoDos{
    background-color: seashell;
}


.modoUno h1{
    color: var(--color-texto);
}


.modoUno p{
    color: var(--color-texto);
}

#boton{
    border-radius: 5px;
    padding: 10px;
    border: none;
}

body.dark-theme{
    --color-bg: rgb(77, 77, 77);
    --color-texto: #f5d000;
}

@media (prefers-color-scheme: dark) {

 body{
    --color-bg: rgb(77, 77, 77);
    --color-texto: #f5d000;
}

body.light-theme{
    --color-bg: #ddd;
    --color-texto: #EE6352;
}

}

/*!------------------------------- Light/Dark Mode----------------------------------------------  */




